In [1]:
2+2

4

## 2*3

In [2]:
2 / 3

0.6666666666666666

#####

In [4]:
15 // 4

3

In [5]:
15  % 3

0

In [6]:
15 % 4

3

##

In [7]:
12 / 0

ZeroDivisionError: division by zero

In [8]:
'Tehran'

'Tehran'

In [10]:
type('tehran')

str

In [11]:
type(5)

int

In [12]:
type(5.0)

float

In [13]:
2+ * + 2

SyntaxError: invalid syntax (<ipython-input-13-3233e1df5dd1>, line 1)

In [22]:
print('Salam \n Zanjan')

Salam
 Zanjan

In [15]:
x = 10

In [16]:
x

10

In [18]:
x + 5

15

In [19]:
x

10

In [20]:
x = x + 13

In [21]:
x

23

In [30]:
n = "Javad "

In [34]:
m = "Asqari, "

In [32]:
print( n + m)

Javad Asqari

In [35]:
print ((n + m) * 3)

Javad Asqari, Javad Asqari, Javad Asqari,

In [36]:
print(x)

23

In [37]:
print(n + x)

TypeError: must be str, not int

In [47]:
reshtee_chand_khaati = """ reshteye do khati ra
... Neveshtim"""

In [48]:
reshtee_chand_khaati

' reshteye do khati ra\nNeveshtim'

In [49]:
print(reshtee_chand_khaati)

 reshteye do khati ra
Neveshtim

In [51]:
x = 10

In [52]:
x

10

In [53]:
Naam = input("Namat chist? ")

Namat chist? Mahshid

In [54]:
Naam

'Mahshid'

In [55]:
print(Naam)

Mahshid

In [59]:
mqdar1 = input("adad ra vared koind: ")

adad ra vared koind: 32

In [60]:
type(mqdar1)

str

In [61]:
mqdar1 = int(mqdar1)

In [62]:
type(mqdar1)

int

In [64]:
mqdar1 = int(input('mqdar nakhost ra vared konid: '))

mqdar nakhost ra vared konid: 32

In [65]:
type(mqdar1)

int

In [66]:
a = int(input("a="))
b=  int(input("b="))
c = a+b
print("c=",c)

a=1
b=2
c= 3

In [70]:
x = int(input('Adad avval ra vared konid: '))

Adad avval ra vared konid: 12

In [71]:
y = int(input('Adad dovvom ra vared konid: '))

Adad dovvom ra vared konid: 3

In [73]:
z = x + y

In [74]:
print(z)

15

In [75]:
s = input("Enter a string:")
n = int(input("Enter an integer:"))
c = s*n
print("c=",c)

Enter a string:class
Enter an integer:2
c= classclass

In [76]:
x = int(input())

salam

ValueError: invalid literal for int() with base 10: 'salam'

In [77]:
int('23')

23

In [78]:
int(3.2)

3

In [79]:
int(-3.2)

-3

In [80]:
int(-3.7)

-3

In [81]:
n = 16

In [85]:
_p_i = 3.14159265

In [86]:
_p_i

3.14159265

In [87]:
x@ = 123

SyntaxError: invalid syntax (<ipython-input-87-3a374af0de27>, line 1)

In [88]:
x233444 = 123

In [89]:
class = 13

SyntaxError: invalid syntax (<ipython-input-89-0ba485bf75ed>, line 1)

In [90]:
 7 > 4

True

In [91]:
7 < 4

False

In [93]:
 7 <= 4

False

In [95]:
7 <= 7

True

In [96]:
7 < = 7

SyntaxError: invalid syntax (<ipython-input-96-d64f7a7f199a>, line 1)

In [97]:
7 =< 7

SyntaxError: invalid syntax (<ipython-input-97-eba7708f1b32>, line 1)

In [98]:
7 >= 5

True

In [99]:
7 == 7

True

In [100]:
7 != 7

False

In [101]:
7 != 8

True

In [109]:
daqiqe = 2300
# mohasebeye saat bar assa daqiqe
saat = (daqiqe ) / 60

In [110]:
saat

38.333333333333336

In [ ]:
v = 5 #Sorat bar m/s

In [115]:
"""Moqayaee do addad ba 'if' va amalgarhaye moqayeseye"""

# khandan adade avval
a1 = int(input("adad nakhost ra vared konid: "))



# khandan adade Dovvom
a2 = int(input("adad dovvom ra vared konid: "))


if a1 == a2:
    print(a1, "barabar ba", a2)
    
if a1 != a2:
    print(a1, "namosavi ba", a2)
    
if a1 > a2:
    print(a1, "bozorgtar az", a2)
    
if a1 < a2:
    print(a1, "kochektar az", a2)    
    
if a1 >= a2:
    print(a1, "bozorgtar az ya mosavi ba", a2)
    
if a1 <= a2:
    print(a1, "kochektar az  ya mosavi ba", a2)

adad nakhost ra vared konid: 12
adad dovvom ra vared konid: 54
12 namosavi ba 54
12 kochektar az 54
12 kochektar az  ya mosavi ba 54

In [3]:
x = 4
x

4

In [4]:
1 < x <= 10

True

In [5]:
1 < x <= 3

False

In [11]:
a2 = (input("adade dovvom: "))
a2 = int(a2)

adade dovvom: 1.2

ValueError: invalid literal for int() with base 10: '1.2'

In [13]:
a = str(2)
a

'2'

In [14]:
"""Yaftane kamine"""

a1 = input("adad avval: ")
a1 = int(a1)

a2 = int(input("adade dovvom: "))

a3 = int(input("adade sevvom: "))

kam  = a1

if a2 < kam:
    kam = a2
if a3 < kam:
    kam = a3
print('mqdare kamine barabar ba: ', kam)

adad avval: -5
adade dovvom: -10
adade sevvom: 3
mqdare kamine barabar ba:  -10

In [4]:
"""Yaftane bishine"""
a1 = input("adad avval: ")
a1 = int(a1)

a2 = int(input("adade dovvom: "))

a3 = int(input("adade sevvom: "))

bish  = a1

if a2 > bish:
    bish = a2
if a3 > bish:
    bish = a3
print('mqdare bishine barabar ba: ', bish)

adad avval: 15
adade dovvom: 3
adade sevvom: 12
mqdare bishine barabar ba:  15

In [5]:
"""Jame'e se adad"""

a1 = input("adad avval: ")
a1 = int(a1)

a2 = int(input("adade dovvom: "))

a3 = int(input("adade sevvom: "))

kol  = 0

kol = kol + a1

kol = kol + a2

kol = kol + a3


print('mqdare jame barabar ba: ', kol)

adad avval: 1
adade dovvom: 2
adade sevvom: 3
mqdare jame barabar ba:  6

In [6]:
5 == 5

True

In [7]:
5 == 6

False

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [12]:
x = 1
y = 1

z = False

x == y or z

True

In [13]:
x != y or z

False

In [14]:
not z

True

In [15]:
not 1

False

In [18]:
not 0

True

In [20]:
0 and 1

0

In [21]:
45 and True

True

In [23]:
2 == 2 and 4 > 2

True

In [24]:
(2 == 2) and (4 > 2)

True

In [26]:
x = 5
if x > 0:
    print(x, 'adadi mosbat ast.')

5 adadi mosbat ast.

In [27]:
x = -5
if x > 0:
    print(x, 'adadi mosbat ast.')

In [36]:
x = 10

In [30]:
x

10

In [32]:
x + 5

15

In [33]:
x

10

In [34]:
x = 'hasan'

In [35]:
x

'hasan'

In [37]:
x

10

In [41]:
nomre = float(input())

if nomre >= 12:
    print('qabol!')
    print('Afarin!')

13
qabol!
Afarin!

In [43]:
nomre = float(input())

if nomre >= 12:
    print('qabol!')
   print('Afarin!')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [44]:
if 1:
    print('in jomle hatamn chap khahad shod')

in jomle hatamn chap khahad shod

In [55]:
if 0:
    print('in jomle hichvaqt chap Nakhahad shod')

In [71]:
if '':
    print('in jomle hichvaqt chap Nakhahad shod')

In [72]:
if int(input()) >= 12:
    print('qabol')

12
qabol

In [80]:
 0 & 1

0

In [76]:
x = int(input())

if x % 2 == 0 :
    print(x, 'adadi zowj ast.')
else:
    print(x, 'adadi fard ast')

16
16 adadi zowj ast.

In [85]:
nomre = int(input())

if x >= 12 :
    natije = 'qabol'
else:
    natije = 'mardood'

19

In [89]:
nomre = int(input())

if x >= 12 :
    natije = 1 # be ma'naye qaboli
else:
    natije = 0 # be ma'naye mardodi

18

In [90]:
natije

1

In [95]:
nomre = int(input())
natije = ('qabol' if nomre >= 12 else 'mardood')

8

In [96]:
natije

'mardood'

In [97]:
'qabol' if nomre >= 12 else 'mardood'

'mardood'

In [100]:
nomre = int(input())

if nomre >= 12 :
    print('qabol')
else:
    print('rrad')
print('Dars ra bayad dobare akhz konid')

20
qabol
Dars ra bayad dobare akhz konid

شروط زنجیری

In [4]:
x = int(input('x = '))
y = int(input('y = '))

if  x < y:
    print(x, ' kochecktar az ', y, ' ast')
else:
    print(x, ' bozorgtar az ya mosavi ', y, ' ast')

x = 12
y = 12
12  bozorgtar az ya mosavi  12  ast

In [3]:
x = int(input('x = '))
y = int(input('y = '))

if  x < y:
    print(x, ' kochecktar az ', y, ' ast')
elif x > y:
    print(x, ' bozorgtar az ', y, ' ast')
else: 
    print(x, ' barabare ba ', y, ' ast')

x = 12
y = 12
12  barabare ba  12  ast

In [5]:
nomre = int(input())

if nomre >= 19:
    print('A')
elif nomre >= 18:
    print('B')
elif nomre >= 17:
    print('C')
elif nomre >= 16:
    print('D')
elif nomre < 16:
    print('F')

17
C

In [5]:
x = int(input('x = '))
y = int(input('y = '))

baqimande = x % 3

if baqimande == 0:
    print(y ** baqimande)
elif baqimande == 1:
    print(y ** baqimande)
else:
    print(y ** baqimande)

x = 50
y = 20
400

In [6]:
if x == y:
    print('x o y ba ham barabar')
else: 
    if x < y:
        print('x kochektar az y!')
    else:
        print('x bozorgtar az y!')

x bozorgtar az y!

In [17]:
x = -9
if 0 <= x:
    print('x namanfi!') 
if x <= 10:
    print('x dar baze ast!')

x dar baze ast!

In [13]:
x = -15
if 0 <= x and x <= 10:     
    print('x dar baze ast!')

In [14]:
x = 8
if 0 <= x <= 10:     
    print('x dar baze ast!')

x dar baze ast!

In [18]:
jensiat = 'zan'
sen = 77

if (jensiat == 'zan') and (sen >= 65):
    print('Banoye Salkhorde')

Banoye Salkhorde

In [24]:
miangin_fasl = 17.25
emtehan_nahaee = 17.5

if miangin_fasl >= 17.5 or emtehan_nahaee >= 18:
    print('Jozve kalleha')

In [26]:
nomre = 18
if not nomre == -1:
    print(nomre)

18

In [ ]:
miangin_fasl = 17.25
emtehan_nahaee = 17.5

if (miangin_fasl >= 17.5 or emtehan_nahaee >= 18 ) and not emtehan_nahaee == -1:
    print('Jozve kalleha')

تکرار

حلقه مذکور تا زمانی که شرط برقرار باشد عملیات مدنظر را تکرار خواهد کرد.

In [3]:
n = 1
while n <= 10:
    print(n)
    n = n + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
n

11

In [31]:
m = 1
while m <= 500:
    print(m)
    m = m * 3

1
3
9
27
81
243

In [28]:
n

11

In [1]:
h = int(input('hade bala: '))
a = int(input('paye: '))
m = 1
while m <= h:
    print(m)
    m = m * a

hade bala: 700
paye: 6
1
6
36
216

In [5]:
m

1296

In [6]:
h = int(input('hade bala: '))
a = int(input('paye: '))
m = 1
while m <= h:    
    m = m * a
print(m)

hade bala: 700
paye: 6
1296

In [10]:
i = 1
a = int(input('adad jahat mohasebye mazrahaash: '))
h = int(input('hade bala: '))
mazrab = a * i
while mazrab <= h:
    print(mazrab, end=', ')    
    i = i + 1
    mazrab = a * i

adad jahat mohasebye mazrahaash: 7
hade bala: 800
7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798,

In [11]:
i = 1
a = int(input('adad jahat mohasebye mazrahaash: '))
h = int(input('hade bala: '))
mazrab = a * i
while mazrab <= h:        
    i = i + 1
    mazrab = a * i
print(mazrab)

adad jahat mohasebye mazrahaash: 7
hade bala: 800
805

In [14]:
i = 1
a = int(input('adad jahat mohasebye mazrahaash: '))
t = int(input('tedad tkrar: '))
mazrab = a * i
while i <= t:
    print(mazrab, end=' ')    
    i = i + 1
    mazrab = a * i

adad jahat mohasebye mazrahaash: 7
tedad tkrar: 50
7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350

In [17]:
n = 10
while n > 0:
    print(n)
    n = n - 1
print('Atash!')

10
9
8
7
6
5
4
3
2
1
Atash!

In [1]:
n = int(input('adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: '))
i = 2
h = n // 2 + 1
morakkab = 0 # parcham nesandahandee morakkab adad
while i <= h:
    if n % i == 0:
        morakkab = 1
    i = i + 1
if morakkab == 1:
    print(n, 'adadi morakkab ast!')
else:
    print(n, 'adadi avval ast!')

adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: 545
545 adadi morakkab ast!

In [1]:
n = int(input('adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: '))
i = 2
h = n // 2 + 1
morakkab = 0 # parcham nesandahandee morakkab adad
while i <= h:
    if n % i == 0:
        morakkab = 1
        i = h + 1
    i = i + 1
if morakkab == 1:
    print(n, 'adadi morakkab ast!')
else:
    print(n, 'adadi avval ast!')

adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: 150
150 adadi morakkab ast!

In [4]:
n = int(input('adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: '))
i = 2
h = n // 2 + 1
while i <= h:
    if n % i == 0:        
        print(n, 'adadi morakkab ast!')
        break
    i = i + 1

adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: 45
45 adadi morakkab ast!

In [1]:
j = 1
while j < 21:
    if j % 2 == 0:
        print(j)
    j = j + 1

2
4
6
8
10
12
14
16
18
20

In [2]:
j = 2
while j < 21:
    print(j)
    j = j + 2

2
4
6
8
10
12
14
16
18
20

In [9]:
n = 6

while n <= 100:
    if n % 6 == 0:
        print(n, end=' ')
    n = n + 1

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [13]:
n = 1
j = 0
while j <= 100:
    j = 3 * n + 3# j= n + n+1 + n+2
    print(j, ' = ', n, ' + ', n+1, ' + ', n+2)
    n = n + 1

6  =  1  +  2  +  3
9  =  2  +  3  +  4
12  =  3  +  4  +  5
15  =  4  +  5  +  6
18  =  5  +  6  +  7
21  =  6  +  7  +  8
24  =  7  +  8  +  9
27  =  8  +  9  +  10
30  =  9  +  10  +  11
33  =  10  +  11  +  12
36  =  11  +  12  +  13
39  =  12  +  13  +  14
42  =  13  +  14  +  15
45  =  14  +  15  +  16
48  =  15  +  16  +  17
51  =  16  +  17  +  18
54  =  17  +  18  +  19
57  =  18  +  19  +  20
60  =  19  +  20  +  21
63  =  20  +  21  +  22
66  =  21  +  22  +  23
69  =  22  +  23  +  24
72  =  23  +  24  +  25
75  =  24  +  25  +  26
78  =  25  +  26  +  27
81  =  26  +  27  +  28
84  =  27  +  28  +  29
87  =  28  +  29  +  30
90  =  29  +  30  +  31
93  =  30  +  31  +  32
96  =  31  +  32  +  33
99  =  32  +  33  +  34
102  =  33  +  34  +  35

In [5]:
i = 1
i2 = i * i
while i2 < 100: 
    print(i2)
    i = i + 1
    i2 = i ** 2

1
4
9
16
25
36
49
64
81

In [9]:
x = 'adade x barabar ba'
for n in x:
    print(n)

a
d
a
d
e

x

b
a
r
a
b
a
r

b
a

In [3]:
x = 'adade x barabar ba khodash ast'
for n in x:
    print(n, end=' ')

a d a d e   x   b a r a b a r   b a   k h o d a s h   a s t

In [21]:
x = 'qostantanie'
for n in x:
    print(n, end=' ')

q o s t a n t a n i e

In [24]:
x = 'qostantanie'
for nevise in x:
    print(n)

q
o
s
t
a
n
t
a
n
i
e

In [29]:
print( 10, 20 , 30, sep=',')

10,20,30

In [ ]:
jame_kol = 0
for adad in [2, 3, 0, 7, 19]:
    jame_kol = jame_kol + adad
print('jame barabar ba = ', jame_kol)

In [32]:
adadha = [2, 3, 0, 7, 19]
jame_kol = 0
for adad in adadha:
    jame_kol = jame_kol + adad
print('jame barabar ba = ', jame_kol)

jame barabar ba =  31

In [33]:
adadha = [2, 3, 0, 7, 19]
jame_kol = 0
for adad in adadha:
    jame_kol += adad
print('jame barabar ba = ', jame_kol)

jame barabar ba =  31

In [35]:
adadha = [2, 3, 4]
zarb_kol = 1
for adad in adadha:
    zarb_kol *= adad
print('zarb kol barabar ba = ', zarb_kol)

zarb kol barabar ba =  24

In [38]:
for shomarande in range(10):
    print(shomarande)

0
1
2
3
4
5
6
7
8
9

In [42]:
for i in range(10):
    print(i, 'be tavane 3 = ', i ** 3)

0 be tavane 3 =  0
1 be tavane 3 =  1
2 be tavane 3 =  8
3 be tavane 3 =  27
4 be tavane 3 =  64
5 be tavane 3 =  125
6 be tavane 3 =  216
7 be tavane 3 =  343
8 be tavane 3 =  512
9 be tavane 3 =  729

میانگین نمرات در فهرست بدون استفاده از تابع 
len

In [2]:
nomarat = [20, 4, 13, 15, 17, 19]
jame_kol = 0
sh = 0
for i in nomarat:
    jame_kol += i
    sh += 1
m = jame_kol / sh
print(f'miangin barabar ba: {m:.2f}')
print('miangin: ', m)

miangin barabar ba: 14.67
miangin:  14.666666666666666

In [11]:
nomre = float(input('Vorode nomre, -1 jahat payan: '))
kol = 0
sh = 0
while nomre != -1:
    kol += nomre
    sh +=1
    nomre = float(input('Vorode nomre, -1 jahat payan: '))

if sh == 0:
    print('Adadi vared nashode ast')
else:
    m = kol / sh
    print(f'miangin: {m:.2f}')
    print(f'moadel barabare ba: {m:.3f}')
    print('miangin: ', m)

Vorode nomre, -1 jahat payan: 15
Vorode nomre, -1 jahat payan: 14
Vorode nomre, -1 jahat payan: 14
Vorode nomre, -1 jahat payan: -1
miangin: 14.33
moadel barabare ba: 14.333
miangin:  14.333333333333334

In [8]:
for i in range(5, 9):
    print(i, end=' ')

5 6 7 8

In [9]:
for i in range(0, 20, 2):
    print(i, end=' ')

0 2 4 6 8 10 12 14 16 18

In [11]:
for i in range(20, 0, -1):
    print(i, end=' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [12]:
for i in range(20, 0, -2):
    print(i, end=' ')

20 18 16 14 12 10 8 6 4 2

In [6]:
n = int(input('adadi ra vared konid ta maqsom-haye an gozaresh shavad: '))
print(n, ' = ', end=' ')
while n > 1:
    j = 2
    while j <= n:
        if  not n % j:
            print(j, ' * ', end=' ')
            n //= j
            break            
        j += 1
print(n)

adadi ra vared konid ta maqsom-haye an gozaresh shavad: 60
60  =  2  *  2  *  3  *  5  *  1

In [14]:
for adad in range(15):
    if adad == 10:
        break    
    print(adad, end=' ')

0 1 2 3 4 5 6 7 8 9

In [15]:
while True:
    khatt = input('vorod >')
    if khatt == 'tamam':
        break
    print(khatt)

vorod >salam
salam
vorod >alaik
alaik
vorod >khobi?
khobi?
vorod >shokr
shokr
vorod >dige che khabar?
dige che khabar?
vorod >Tamam
Tamam
vorod >tamam

In [27]:
a = 101

x = 3
sh = 0
eps = 1e-108
while True:
    y = (x + a / x) / 2
    sh += 1
    if abs(y - x) < eps:
        break
    x = y
    print(x)

18.333333333333332
11.921212121212122
10.196752476467779
10.050933448634424
10.049875676787314
10.04987562112089

In [36]:
a = 100

x = 3
sh = 0
eps = 1e-8
y = -2
while(abs(y - x) > eps):
    y = (x + a / x) / 2
    sh += 1    
    x = y
    print(x)

18.166666666666668

In [43]:
for adad in range(15):
    if adad == 10 or adad == 12:
        continue
    print(adad, end=' ')

0 1 2 3 4 5 6 7 8 9 11 13 14

In [46]:
m = 10

for i in range(1, m):
    for j in range(1, m):
        print( i * j, end=' ')
        if j == m-1:
            print('\n')

1 2 3 4 5 6 7 8 9

2 4 6 8 10 12 14 16 18

3 6 9 12 15 18 21 24 27

4 8 12 16 20 24 28 32 36

5 10 15 20 25 30 35 40 45

6 12 18 24 30 36 42 48 54

7 14 21 28 35 42 49 56 63

8 16 24 32 40 48 56 64 72

9 18 27 36 45 54 63 72 81

In [55]:
for j in range(1,1000):
    print(f'{j:>4}')

   1
   2
   3
   4
   5
   6
   7
   8
   9
  10
  11
  12
  13
  14
  15
  16
  17
  18
  19
  20
  21
  22
  23
  24
  25
  26
  27
  28
  29
  30
  31
  32
  33
  34
  35
  36
  37
  38
  39
  40
  41
  42
  43
  44
  45
  46
  47
  48
  49
  50
  51
  52
  53
  54
  55
  56
  57
  58
  59
  60
  61
  62
  63
  64
  65
  66
  67
  68
  69
  70
  71
  72
  73
  74
  75
  76
  77
  78
  79
  80
  81
  82
  83
  84
  85
  86
  87
  88
  89
  90
  91
  92
  93
  94
  95
  96
  97
  98
  99
 100
 101
 102
 103
 104
 105
 106
 107
 108
 109
 110
 111
 112
 113
 114
 115
 116
 117
 118
 119
 120
 121
 122
 123
 124
 125
 126
 127
 128
 129
 130
 131
 132
 133
 134
 135
 136
 137
 138
 139
 140
 141
 142
 143
 144
 145
 146
 147
 148
 149
 150
 151
 152
 153
 154
 155
 156
 157
 158
 159
 160
 161
 162
 163
 164
 165
 166
 167
 168
 169
 170
 171
 172
 173
 174
 175
 176
 177
 178
 179
 180
 181
 182
 183
 184
 185
 186
 187
 188
 189
 190
 191
 192
 193
 194
 195
 196
 197
 198
 199
 200
 201
 202
 203
 204
 205
 206
 207
 208
 209
 210
 211
 212
 213
 214
 215
 216
 217
 218
 219
 220
 221
 222
 223
 224
 225
 226
 227
 228
 229
 230
 231
 232
 233
 234
 235
 236
 237
 238
 239
 240
 241
 242
 243
 244
 245
 246
 247
 248
 249
 250
 251
 252
 253
 254
 255
 256
 257
 258
 259
 260
 261
 262
 263
 264
 265
 266
 267
 268
 269
 270
 271
 272
 273
 274
 275
 276
 277
 278
 279
 280
 281
 282
 283
 284
 285
 286
 287
 288
 289
 290
 291
 292
 293
 294
 295
 296
 297
 298
 299
 300
 301
 302
 303
 304
 305
 306
 307
 308
 309
 310
 311
 312
 313
 314
 315
 316
 317
 318
 319
 320
 321
 322
 323
 324
 325
 326
 327
 328
 329
 330
 331
 332
 333
 334
 335
 336
 337
 338
 339
 340
 341
 342
 343
 344
 345
 346
 347
 348
 349
 350
 351
 352
 353
 354
 355
 356
 357
 358
 359
 360
 361
 362
 363
 364
 365
 366
 367
 368
 369
 370
 371
 372
 373
 374
 375
 376
 377
 378
 379
 380
 381
 382
 383
 384
 385
 386
 387
 388
 389
 390
 391
 392
 393
 394
 395
 396
 397
 398
 399
 400
 401
 402
 403
 404
 405
 406
 407
 408
 409
 410
 411
 412
 413
 414
 415
 416
 417
 418
 419
 420
 421
 422
 423
 424
 425
 426
 427
 428
 429
 430
 431
 432
 433
 434
 435
 436
 437
 438
 439
 440
 441
 442
 443
 444
 445
 446
 447
 448
 449
 450
 451
 452
 453
 454
 455
 456
 457
 458
 459
 460
 461
 462
 463
 464
 465
 466
 467
 468
 469
 470
 471
 472
 473
 474
 475
 476
 477
 478
 479
 480
 481
 482
 483
 484
 485
 486
 487
 488
 489
 490
 491
 492
 493
 494
 495
 496
 497
 498
 499
 500
 501
 502
 503
 504
 505
 506
 507
 508
 509
 510
 511
 512
 513
 514
 515
 516
 517
 518
 519
 520
 521
 522
 523
 524
 525
 526
 527
 528
 529
 530
 531
 532
 533
 534
 535
 536
 537
 538
 539
 540
 541
 542
 543
 544
 545
 546
 547
 548
 549
 550
 551
 552
 553
 554
 555
 556
 557
 558
 559
 560
 561
 562
 563
 564
 565
 566
 567
 568
 569
 570
 571
 572
 573
 574
 575
 576
 577
 578
 579
 580
 581
 582
 583
 584
 585
 586
 587
 588
 589
 590
 591
 592
 593
 594
 595
 596
 597
 598
 599
 600
 601
 602
 603
 604
 605
 606
 607
 608
 609
 610
 611
 612
 613
 614
 615
 616
 617
 618
 619
 620
 621
 622
 623
 624
 625
 626
 627
 628
 629
 630
 631
 632
 633
 634
 635
 636
 637
 638
 639
 640
 641
 642
 643
 644
 645
 646
 647
 648
 649
 650
 651
 652
 653
 654
 655
 656
 657
 658
 659
 660
 661
 662
 663
 664
 665
 666
 667
 668
 669
 670
 671
 672
 673
 674
 675
 676
 677
 678
 679
 680
 681
 682
 683
 684
 685
 686
 687
 688
 689
 690
 691
 692
 693
 694
 695
 696
 697
 698
 699
 700
 701
 702
 703
 704
 705
 706
 707
 708
 709
 710
 711
 712
 713
 714
 715
 716
 717
 718
 719
 720
 721
 722
 723
 724
 725
 726
 727
 728
 729
 730
 731
 732
 733
 734
 735
 736
 737
 738
 739
 740
 741
 742
 743
 744
 745
 746
 747
 748
 749
 750
 751
 752
 753
 754
 755
 756
 757
 758
 759
 760
 761
 762
 763
 764
 765
 766
 767
 768
 769
 770
 771
 772
 773
 774
 775
 776
 777
 778
 779
 780
 781
 782
 783
 784
 785
 786
 787
 788
 789
 790
 791
 792
 793
 794
 795
 796
 797
 798
 799
 800
 801
 802
 803
 804
 805
 806
 807
 808
 809
 810
 811
 812
 813
 814
 815
 816
 817
 818
 819
 820
 821
 822
 823
 824
 825
 826
 827
 828
 829
 830
 831
 832
 833
 834
 835
 836
 837
 838
 839
 840
 841
 842
 843
 844
 845
 846
 847
 848
 849
 850
 851
 852
 853
 854
 855
 856
 857
 858
 859
 860
 861
 862
 863
 864
 865
 866
 867
 868
 869
 870
 871
 872
 873
 874
 875
 876
 877
 878
 879
 880
 881
 882
 883
 884
 885
 886
 887
 888
 889
 890
 891
 892
 893
 894
 895
 896
 897
 898
 899
 900
 901
 902
 903
 904
 905
 906
 907
 908
 909
 910
 911
 912
 913
 914
 915
 916
 917
 918
 919
 920
 921
 922
 923
 924
 925
 926
 927
 928
 929
 930
 931
 932
 933
 934
 935
 936
 937
 938
 939
 940
 941
 942
 943
 944
 945
 946
 947
 948
 949
 950
 951
 952
 953
 954
 955
 956
 957
 958
 959
 960
 961
 962
 963
 964
 965
 966
 967
 968
 969
 970
 971
 972
 973
 974
 975
 976
 977
 978
 979
 980
 981
 982
 983
 984
 985
 986
 987
 988
 989
 990
 991
 992
 993
 994
 995
 996
 997
 998
 999

In [59]:
m = 10
print(end='   ')
for j in range(1, m):
    print(f'{j:>7}', end=' ')
print()
for i in range(1, m):
    print(i, end=': ')
    for j in range(1, m):
        print(f'{i * j:>7}', end=' ')
    print()

         1       2       3       4       5       6       7       8       9
1:       1       2       3       4       5       6       7       8       9
2:       2       4       6       8      10      12      14      16      18
3:       3       6       9      12      15      18      21      24      27
4:       4       8      12      16      20      24      28      32      36
5:       5      10      15      20      25      30      35      40      45
6:       6      12      18      24      30      36      42      48      54
7:       7      14      21      28      35      42      49      56      63
8:       8      16      24      32      40      48      56      64      72
9:       9      18      27      36      45      54      63      72      81

In [17]:
for i in range(1,101):    
    if ((i - 1) % 10 == 0):
        print('\n')    
    print(f'{i:>5}', end=' ')

    1     2     3     4     5     6     7     8     9    10

   11    12    13    14    15    16    17    18    19    20

   21    22    23    24    25    26    27    28    29    30

   31    32    33    34    35    36    37    38    39    40

   41    42    43    44    45    46    47    48    49    50

   51    52    53    54    55    56    57    58    59    60

   61    62    63    64    65    66    67    68    69    70

   71    72    73    74    75    76    77    78    79    80

   81    82    83    84    85    86    87    88    89    90

   91    92    93    94    95    96    97    98    99   100

In [7]:
sh = 1
for i in range(1, 11):
    for j in range(1, 11):
        print(f'{sh:>5}', end=' ')
        sh += 1
    print('\n')

    1     2     3     4     5     6     7     8     9    10

   11    12    13    14    15    16    17    18    19    20

   21    22    23    24    25    26    27    28    29    30

   31    32    33    34    35    36    37    38    39    40

   41    42    43    44    45    46    47    48    49    50

   51    52    53    54    55    56    57    58    59    60

   61    62    63    64    65    66    67    68    69    70

   71    72    73    74    75    76    77    78    79    80

   81    82    83    84    85    86    87    88    89    90

   91    92    93    94    95    96    97    98    99   100