In [1]:
2+2

4

## 2*3

In [2]:
2 / 3

0.6666666666666666

#####

In [4]:
15 // 4

3

In [5]:
15  % 3

0

In [6]:
15 % 4

3

##

In [7]:
12 / 0

ZeroDivisionError: division by zero

In [8]:
'Tehran'

'Tehran'

In [10]:
type('tehran')

str

In [11]:
type(5)

int

In [12]:
type(5.0)

float

In [13]:
2+ * + 2

SyntaxError: invalid syntax (<ipython-input-13-3233e1df5dd1>, line 1)

In [22]:
print('Salam \n Zanjan')

Salam
 Zanjan

In [15]:
x = 10

In [16]:
x

10

In [18]:
x + 5

15

In [19]:
x

10

In [20]:
x = x + 13

In [21]:
x

23

In [30]:
n = "Javad "

In [34]:
m = "Asqari, "

In [32]:
print( n + m)

Javad Asqari

In [35]:
print ((n + m) * 3)

Javad Asqari, Javad Asqari, Javad Asqari,

In [36]:
print(x)

23

In [37]:
print(n + x)

TypeError: must be str, not int

In [47]:
reshtee_chand_khaati = """ reshteye do khati ra
... Neveshtim"""

In [48]:
reshtee_chand_khaati

' reshteye do khati ra\nNeveshtim'

In [49]:
print(reshtee_chand_khaati)

 reshteye do khati ra
Neveshtim

In [51]:
x = 10

In [52]:
x

10

In [53]:
Naam = input("Namat chist? ")

Namat chist? Mahshid

In [54]:
Naam

'Mahshid'

In [55]:
print(Naam)

Mahshid

In [59]:
mqdar1 = input("adad ra vared koind: ")

adad ra vared koind: 32

In [60]:
type(mqdar1)

str

In [61]:
mqdar1 = int(mqdar1)

In [62]:
type(mqdar1)

int

In [64]:
mqdar1 = int(input('mqdar nakhost ra vared konid: '))

mqdar nakhost ra vared konid: 32

In [65]:
type(mqdar1)

int

In [66]:
a = int(input("a="))
b=  int(input("b="))
c = a+b
print("c=",c)

a=1
b=2
c= 3

In [70]:
x = int(input('Adad avval ra vared konid: '))

Adad avval ra vared konid: 12

In [71]:
y = int(input('Adad dovvom ra vared konid: '))

Adad dovvom ra vared konid: 3

In [73]:
z = x + y

In [74]:
print(z)

15

In [75]:
s = input("Enter a string:")
n = int(input("Enter an integer:"))
c = s*n
print("c=",c)

Enter a string:class
Enter an integer:2
c= classclass

In [76]:
x = int(input())

salam

ValueError: invalid literal for int() with base 10: 'salam'

In [77]:
int('23')

23

In [78]:
int(3.2)

3

In [79]:
int(-3.2)

-3

In [80]:
int(-3.7)

-3

In [81]:
n = 16

In [85]:
_p_i = 3.14159265

In [86]:
_p_i

3.14159265

In [87]:
x@ = 123

SyntaxError: invalid syntax (<ipython-input-87-3a374af0de27>, line 1)

In [88]:
x233444 = 123

In [89]:
class = 13

SyntaxError: invalid syntax (<ipython-input-89-0ba485bf75ed>, line 1)

In [90]:
 7 > 4

True

In [91]:
7 < 4

False

In [93]:
 7 <= 4

False

In [95]:
7 <= 7

True

In [96]:
7 < = 7

SyntaxError: invalid syntax (<ipython-input-96-d64f7a7f199a>, line 1)

In [97]:
7 =< 7

SyntaxError: invalid syntax (<ipython-input-97-eba7708f1b32>, line 1)

In [98]:
7 >= 5

True

In [99]:
7 == 7

True

In [100]:
7 != 7

False

In [101]:
7 != 8

True

In [109]:
daqiqe = 2300
# mohasebeye saat bar assa daqiqe
saat = (daqiqe ) / 60

In [110]:
saat

38.333333333333336

In [ ]:
v = 5 #Sorat bar m/s

In [115]:
"""Moqayaee do addad ba 'if' va amalgarhaye moqayeseye"""

# khandan adade avval
a1 = int(input("adad nakhost ra vared konid: "))



# khandan adade Dovvom
a2 = int(input("adad dovvom ra vared konid: "))


if a1 == a2:
    print(a1, "barabar ba", a2)
    
if a1 != a2:
    print(a1, "namosavi ba", a2)
    
if a1 > a2:
    print(a1, "bozorgtar az", a2)
    
if a1 < a2:
    print(a1, "kochektar az", a2)    
    
if a1 >= a2:
    print(a1, "bozorgtar az ya mosavi ba", a2)
    
if a1 <= a2:
    print(a1, "kochektar az  ya mosavi ba", a2)

adad nakhost ra vared konid: 12
adad dovvom ra vared konid: 54
12 namosavi ba 54
12 kochektar az 54
12 kochektar az  ya mosavi ba 54

In [3]:
x = 4
x

4

In [4]:
1 < x <= 10

True

In [5]:
1 < x <= 3

False

In [11]:
a2 = (input("adade dovvom: "))
a2 = int(a2)

adade dovvom: 1.2

ValueError: invalid literal for int() with base 10: '1.2'

In [13]:
a = str(2)
a

'2'

In [14]:
"""Yaftane kamine"""

a1 = input("adad avval: ")
a1 = int(a1)

a2 = int(input("adade dovvom: "))

a3 = int(input("adade sevvom: "))

kam  = a1

if a2 < kam:
    kam = a2
if a3 < kam:
    kam = a3
print('mqdare kamine barabar ba: ', kam)

adad avval: -5
adade dovvom: -10
adade sevvom: 3
mqdare kamine barabar ba:  -10

In [4]:
"""Yaftane bishine"""
a1 = input("adad avval: ")
a1 = int(a1)

a2 = int(input("adade dovvom: "))

a3 = int(input("adade sevvom: "))

bish  = a1

if a2 > bish:
    bish = a2
if a3 > bish:
    bish = a3
print('mqdare bishine barabar ba: ', bish)

adad avval: 15
adade dovvom: 3
adade sevvom: 12
mqdare bishine barabar ba:  15

In [5]:
"""Jame'e se adad"""

a1 = input("adad avval: ")
a1 = int(a1)

a2 = int(input("adade dovvom: "))

a3 = int(input("adade sevvom: "))

kol  = 0

kol = kol + a1

kol = kol + a2

kol = kol + a3


print('mqdare jame barabar ba: ', kol)

adad avval: 1
adade dovvom: 2
adade sevvom: 3
mqdare jame barabar ba:  6

In [6]:
5 == 5

True

In [7]:
5 == 6

False

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [12]:
x = 1
y = 1

z = False

x == y or z

True

In [13]:
x != y or z

False

In [14]:
not z

True

In [15]:
not 1

False

In [18]:
not 0

True

In [20]:
0 and 1

0

In [21]:
45 and True

True

In [23]:
2 == 2 and 4 > 2

True

In [24]:
(2 == 2) and (4 > 2)

True

In [26]:
x = 5
if x > 0:
    print(x, 'adadi mosbat ast.')

5 adadi mosbat ast.

In [27]:
x = -5
if x > 0:
    print(x, 'adadi mosbat ast.')

In [36]:
x = 10

In [30]:
x

10

In [32]:
x + 5

15

In [33]:
x

10

In [34]:
x = 'hasan'

In [35]:
x

'hasan'

In [37]:
x

10

In [41]:
nomre = float(input())

if nomre >= 12:
    print('qabol!')
    print('Afarin!')

13
qabol!
Afarin!

In [43]:
nomre = float(input())

if nomre >= 12:
    print('qabol!')
   print('Afarin!')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [44]:
if 1:
    print('in jomle hatamn chap khahad shod')

in jomle hatamn chap khahad shod

In [55]:
if 0:
    print('in jomle hichvaqt chap Nakhahad shod')

In [71]:
if '':
    print('in jomle hichvaqt chap Nakhahad shod')

In [72]:
if int(input()) >= 12:
    print('qabol')

12
qabol

In [80]:
 0 & 1

0

In [76]:
x = int(input())

if x % 2 == 0 :
    print(x, 'adadi zowj ast.')
else:
    print(x, 'adadi fard ast')

16
16 adadi zowj ast.

In [85]:
nomre = int(input())

if x >= 12 :
    natije = 'qabol'
else:
    natije = 'mardood'

19

In [89]:
nomre = int(input())

if x >= 12 :
    natije = 1 # be ma'naye qaboli
else:
    natije = 0 # be ma'naye mardodi

18

In [90]:
natije

1

In [95]:
nomre = int(input())
natije = ('qabol' if nomre >= 12 else 'mardood')

8

In [96]:
natije

'mardood'

In [97]:
'qabol' if nomre >= 12 else 'mardood'

'mardood'

In [100]:
nomre = int(input())

if nomre >= 12 :
    print('qabol')
else:
    print('rrad')
print('Dars ra bayad dobare akhz konid')

20
qabol
Dars ra bayad dobare akhz konid

شروط زنجیری

In [4]:
x = int(input('x = '))
y = int(input('y = '))

if  x < y:
    print(x, ' kochecktar az ', y, ' ast')
else:
    print(x, ' bozorgtar az ya mosavi ', y, ' ast')

x = 12
y = 12
12  bozorgtar az ya mosavi  12  ast

In [3]:
x = int(input('x = '))
y = int(input('y = '))

if  x < y:
    print(x, ' kochecktar az ', y, ' ast')
elif x > y:
    print(x, ' bozorgtar az ', y, ' ast')
else: 
    print(x, ' barabare ba ', y, ' ast')

x = 12
y = 12
12  barabare ba  12  ast

In [5]:
nomre = int(input())

if nomre >= 19:
    print('A')
elif nomre >= 18:
    print('B')
elif nomre >= 17:
    print('C')
elif nomre >= 16:
    print('D')
elif nomre < 16:
    print('F')

17
C

In [5]:
x = int(input('x = '))
y = int(input('y = '))

baqimande = x % 3

if baqimande == 0:
    print(y ** baqimande)
elif baqimande == 1:
    print(y ** baqimande)
else:
    print(y ** baqimande)

x = 50
y = 20
400

In [6]:
if x == y:
    print('x o y ba ham barabar')
else: 
    if x < y:
        print('x kochektar az y!')
    else:
        print('x bozorgtar az y!')

x bozorgtar az y!

In [17]:
x = -9
if 0 <= x:
    print('x namanfi!') 
if x <= 10:
    print('x dar baze ast!')

x dar baze ast!

In [13]:
x = -15
if 0 <= x and x <= 10:     
    print('x dar baze ast!')

In [14]:
x = 8
if 0 <= x <= 10:     
    print('x dar baze ast!')

x dar baze ast!

In [18]:
jensiat = 'zan'
sen = 77

if (jensiat == 'zan') and (sen >= 65):
    print('Banoye Salkhorde')

Banoye Salkhorde

In [24]:
miangin_fasl = 17.25
emtehan_nahaee = 17.5

if miangin_fasl >= 17.5 or emtehan_nahaee >= 18:
    print('Jozve kalleha')

In [26]:
nomre = 18
if not nomre == -1:
    print(nomre)

18

In [ ]:
miangin_fasl = 17.25
emtehan_nahaee = 17.5

if (miangin_fasl >= 17.5 or emtehan_nahaee >= 18 ) and not emtehan_nahaee == -1:
    print('Jozve kalleha')

تکرار

حلقه مذکور تا زمانی که شرط برقرار باشد عملیات مدنظر را تکرار خواهد کرد.

In [3]:
n = 1
while n <= 10:
    print(n)
    n = n + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
n

11

In [31]:
m = 1
while m <= 500:
    print(m)
    m = m * 3

1
3
9
27
81
243

In [28]:
n

11

In [1]:
h = int(input('hade bala: '))
a = int(input('paye: '))
m = 1
while m <= h:
    print(m)
    m = m * a

hade bala: 700
paye: 6
1
6
36
216

In [5]:
m

1296

In [6]:
h = int(input('hade bala: '))
a = int(input('paye: '))
m = 1
while m <= h:    
    m = m * a
print(m)

hade bala: 700
paye: 6
1296

In [10]:
i = 1
a = int(input('adad jahat mohasebye mazrahaash: '))
h = int(input('hade bala: '))
mazrab = a * i
while mazrab <= h:
    print(mazrab, end=', ')    
    i = i + 1
    mazrab = a * i

adad jahat mohasebye mazrahaash: 7
hade bala: 800
7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798,

In [11]:
i = 1
a = int(input('adad jahat mohasebye mazrahaash: '))
h = int(input('hade bala: '))
mazrab = a * i
while mazrab <= h:        
    i = i + 1
    mazrab = a * i
print(mazrab)

adad jahat mohasebye mazrahaash: 7
hade bala: 800
805

In [14]:
i = 1
a = int(input('adad jahat mohasebye mazrahaash: '))
t = int(input('tedad tkrar: '))
mazrab = a * i
while i <= t:
    print(mazrab, end=' ')    
    i = i + 1
    mazrab = a * i

adad jahat mohasebye mazrahaash: 7
tedad tkrar: 50
7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350

In [17]:
n = 10
while n > 0:
    print(n)
    n = n - 1
print('Atash!')

10
9
8
7
6
5
4
3
2
1
Atash!

In [1]:
n = int(input('adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: '))
i = 2
h = n // 2 + 1
morakkab = 0 # parcham nesandahandee morakkab adad
while i <= h:
    if n % i == 0:
        morakkab = 1
    i = i + 1
if morakkab == 1:
    print(n, 'adadi morakkab ast!')
else:
    print(n, 'adadi avval ast!')

adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: 545
545 adadi morakkab ast!

In [1]:
n = int(input('adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: '))
i = 2
h = n // 2 + 1
morakkab = 0 # parcham nesandahandee morakkab adad
while i <= h:
    if n % i == 0:
        morakkab = 1
        i = h + 1
    i = i + 1
if morakkab == 1:
    print(n, 'adadi morakkab ast!')
else:
    print(n, 'adadi avval ast!')

adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: 150
150 adadi morakkab ast!

In [4]:
n = int(input('adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: '))
i = 2
h = n // 2 + 1
while i <= h:
    if n % i == 0:        
        print(n, 'adadi morakkab ast!')
        break
    i = i + 1

adadi ra vared konid ta morakkab bodan an barressi o gozaresh shavad: 45
45 adadi morakkab ast!